{% extends "APP/main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'APP/css/cuadro.css' %}">
{% endblock css %}
{% block Main %}

<div class="formulario formularioClientesLogin">
    <h2>Cambiar Contraseña</h2>
    <form class="loginform"  method="post" action="{% url 'cambiarPass' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>

</div>
<script src="{%static 'APP/js/redes.js'%}"></script>

{% endblock Main %}