{% extends "APP/main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'APP/css/cuadro.css' %}">
{% endblock css %}
{% block Main %}

<div class="formulario editarFormulario">

    <form id="formulario" class="loginform" method="POST" enctype=multipart/form-data>
        <h1>Editar datos de cliente</h1>
        {% csrf_token%}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
</div>

<script src="{%static 'APP/js/mayuscula.js'%}"></script>
    

{% endblock Main %}






