{% extends "APP/main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{%static 'APP/css/login.css'%}">
{% endblock css %}
{% block Main %}

<div class="box">
    <span class="borderLine"></span>
    <form  method="POST">{% csrf_token %}
      <h2>Iniciar Sesion</h2>
      <div class="inputBox">
        {{form.username}}
        <span>Usuario</span>
        <i></i>
      </div>
      <div class="inputBox">
        {{form.password}}
        <span>Contraseña</span>
        <i></i>
      </div>
      <div class="links">
        <a href="#">Olvide mi contraseña</a>
        <a href="#">Registrarse</a>
      </div>
      <input type="submit" value="Ingresar">
    </form>
  </div>

  

{% endblock Main %}