{% extends "APP/main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'APP/css/reset.css' %}">
{% endblock css %}
{% block Main %}

<div class="formulario formularioClientesLogin">
    
    <form id="formulario" class="resetForm " method="POST" enctype=multipart/form-data>
        <h1>Restablecer contraseña</h1>
        ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.
        {% csrf_token%}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Restablecer contraseña">
    </form>
</div>



{% endblock Main %}