{% extends "APP/main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{%static 'APP/css/login.css'%}">
{% endblock css %}
{% block Main %}

<div class="box formularioClientesLogin">
    <span class="borderLine"></span>
    <form  method="POST">{% csrf_token %}
      <h2>Cambiar contraseña</h2>
      <div class="inputBox">
        {{form.new_password1}}
        <span>Contraseña nueva</span>
        <i></i>
      </div>
      <div class="inputBox">
        {{form.new_password2}}
        <span>Repetir Contraseña</span>
        <i></i>
      </div>
      <div class="links">
      </div>
      <input type="submit" value="Confirmar">
    </form>
  </div>


  

{% endblock Main %}