body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

.resetForm{
    border: 2px solid black;
    margin-top: 30px;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
}

.reseteo{
    display: flex;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }


@media screen and (max-width: 600px) {
    .resetForm{
        width: 100%;
    }
  }