/* Navbar styles and hover styles starts*/
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.navbar{
  background-color: white;
  font-family: 'Arbutus Slab';
  font-size: 14px;
  transition: top 0.3s ease-in-out;
}

h2 {
  font-family: 'Roboto', sans-serif!important;
}

.navbar {
  position: fixed;
  /* transition: border-bottom-color 0.3s ease-in-out; */
}
.hidden {
  top: -170px; /* Valor suficiente para ocultar la barra de navegación */
}
.contenedorMain{
  margin-bottom: 100px;
}
.navbar:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #004d00;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar:hover {
  border-bottom-color: #004d00;
}

.navbar:hover:before {
  transform: scaleX(1);
}
/* Navbar styles and hover styles start*/



/* Brand or logo (image) styles and hover styles start*/
.logo-img {
    transition: transform 0.3s ease-in-out;
  }

.logo-img:hover {
transform: scale(1.1);
border: 2px solid #000;
animation: border-animation 2s infinite;
}

@keyframes border-animation {
0% {
    border-color: #b3ffb3;
}
25% {
    border-color: #66ff66;
}
50% {
    border-color:#00cc00 ;
}
75% {
    border-color:#006600 ;
}
100% {
    border-color:#001a00 ;
}
}
/* Brand or logo (image) styles and hover styles end*/



/* Navbar list (Home, About, Vision, Contact) styles and hover starts*/
.navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  padding-top: 12px;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: transform 0.3s ease-in-out;
}

.nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.nav-link:hover:before {
  width: 100%;
  animation: underline 0.6s linear;
}

@keyframes underline {
  0% {
    left: 0;
    width: 0;
  }
  25% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 100%;
    width: 0;
  }
  75% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
/* Navbar list (Home, About, Vision, Contact) styles and hover starts*/


  
/* search box styles and hover styles starts */  
.search-form input[type="text"]:hover,
.search-form input[type="text"]:focus {
  animation: border-animation 2s infinite;
}

@keyframes border-animation {
  0% {
    border-color: #004d00;
    box-shadow: 0 0 5px #004d00;
  }
  50% {
    border-color: #00cc00;
    box-shadow: 0 0 5px #00cc00;
  }
  100% {
    border-color: #004d00;
    box-shadow: 0 0 5px #004d00;
  }
}

.search-form input[type="text"]:hover::placeholder {
  font-size: 14px;
  transition: font-size 0.3s ease-in-out;
}

.search-wrapper {
  position: relative;
}

.search-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: #000;
}

.search-form input[type="text"] {
  padding-right: 30px;
}

.search-button i:hover {
  transform: scale(1.2);
}
/* search box styles and hover styles ends */ 



/* User profile or dropdown styles and hover styles starts */
.fa-regular{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: black;
}

.dropdown-menu.dropdown-menu-center {
  left: 40% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
}

.dropdown .btn:hover {
  transform: scale(1.1);
  }

.dropdown-item{
  font-family: 'Arbutus Slab';
  font-size: 14px;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  transform: scale(1.1);
}

.dropdown-divider {
  border: none;
  height: 2px;
  background-color: #000;
  margin: 0.5rem 0;
  opacity: 0.5;
}
/* User profile or dropdown styles and hover styles starts */  



/* Media query styles for 576 px size user window starts */  
@media (max-width: 576px) {
  .nav-item{
      padding-left: 10%;
  }

  .dropdown{
      padding-left: 8%;
  }
  
  .dropdown-menu.dropdown-menu-center {
    left: 30% !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }
}
/* Media query styles for 576 px size user window ends */

.carousell{
  width: 100%;
  margin-top: 160px;
}
.whatsapp{
  position: fixed;
  bottom: 20;
  right: 20;

  z-index: 9999;
}
.whatsapp img , .instagram img{
  width: 70px;
  height: 70px;
}

.instagram{
  position: fixed;
  bottom: 110;
  right: 20;
  z-index: 9999;
}
.carousell img{
    width: 100%;
    height: 600px;
}
@font-face {
    font-family: basier;
    src: url(basiercircle-regular-webfont.ttf);
}
.nosotros{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "basier";
}

.imagenesServicios{
    display: flex;
}
.imagenes{
    width: 300px;
}
.img1 ,.img2,.img3{
    border: 2px solid black;
    border-radius: 10px;
}
.footerNav{
  display: flex;
  flex-direction: column;
}
.footer{
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer a{
  text-decoration: none;
  color: white;
}

.titulo{
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
}


.contacto{
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-family: 'Roboto', sans-serif!important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  top: -200;
  margin: 0 auto;
  margin-left: 30px;
  font-size: 60px;
  color: white;
  font-weight: bold;

}

.form-control::placeholder {
  color: grey; /* Cambia el color aquí según tus preferencias */
}
@media screen and (max-width: 500px) {
  .carousel{
    width: 100%!important;
  }
}


.formulario{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.formularioClientes{
  margin-top: 165px;
}
.formularioClientesLogin{

margin-top: 200px;

}

form{
  display: flex;
  flex-direction: column;
}

form p {
  display: flex;
  flex-direction: column;
}

.loginform{
  background-color: hsl(0, 0%, 95%);
  padding: 40px;
  border-radius: 10px;
}

.editarFormulario{
  margin-top: 200px;
  margin-bottom: 50px;
}

.cuadro{
  margin-top: 50px;
}
.resultadoFinal{
  display: flex;
  flex-direction: row;
}

.usuario{
  align-self: flex-end;
}






.submenu {
  position: relative;
}

.submenu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
}

.submenu:hover .submenu-items {
  display: block;
}
.submenu a{
  text-decoration: none;
  color: black;
}

.submenu-items li {
  display: block;
  width: 200px;
  padding: 15px;
}

.submenu-items li a {

  color: white;
  text-decoration: none;
}

.submenu-items li a:hover {
  background-color: #555;
}


.togle{
  display: none;
}
.eliminarConfirmar{
  background-color: white;
  position: absolute;
  padding: 30;
  border: 1px solid #555;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
SEPARADOR  */


/* Base styles */
.or::before,
.or::after {
  content: "";
}

/* 
  Vertical 
  Requires a height to be set on this element or its parent.
*/
.or--y {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

/* 
  Absolutely position each pseudo element, and calculate
  a height shorter than 50% using em units to create space
  around the text and allows divider line height to scale 
  based on parent element divider height.
*/
.or--y::before,
.or--y::after {
  position: absolute;
  border-left: 1px solid #ccc;
  height: calc(50% - 0.85em);
  left: 50%;
  margin-left: -1px;
}

/* ::before on top */
.or--y::before {
  top: 0;
}

/* ::after on bottom */
.or--y::after {
  bottom: 0;
}

/* Horizontal */
.or--x::before,
.or--x::after {
  position: relative;
  border-top: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin-bottom: 0.15em;
  overflow: hidden;
}

.or--x::before {
  right: 0.5em;
  margin-left: -50%;
}

.or--x::after {
  left: 0.5em;
  margin-right: -50%;
}

/* Demo styles */

.demo {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}


.demo .or {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #828282;
  font-size: 30px;
  margin: 4em auto;
}

.demo .or--x {
  max-width: 30em;
}

.demo .or--y {
  height: 4em;
}
.margen{
  margin-top: 100px;
}
.vacio{
  display: none;
}

#main{
  width: 100%;
  height: 500px;
}

#main div{
  width: 100%!important;
}
#main div canvas{
  width: 100%!important;
}